.contentContainer {
    margin: 0% 20% 0% 20%;
    margin-top: 3%;    
    height: auto;
    display: flex;
    justify-content: space-between;
    .actionBox {
        cursor: pointer;
        height: 100%;
        width: 30%;
        border-radius: 5px;
        transition: 0.3s;
        box-shadow: 0px 1px 4px #0000001A;
        min-height: 272px;
        position: relative;
        padding-top: 2%;
        .actionBoxTitle { 
            display: flex;
            align-items: flex-end;
            height: 30%;
            padding: 0% 5% 0% 5%;
            font-family: $font-lufthansa, $font-padrao;
            color: #FFAD00;
            font-size: 1.2em;
            font-weight: bold;
        }
        
        .actionBoxDescription {  
            font-size: 24px;
            height: 50%;
            padding: 5% 5% 0% 5%;
            font-family: $font-lufthansa, $font-padrao;
            color: rgb(5, 22, 77);
        }
        .actionBoxFooter {
            display: flex;
            justify-content: center;
            height: 10%;
            padding: 0% 5% 0% 5%;
            font-family: $font-lufthansa, $font-padrao;
            color: #999999;
            visibility: hidden;
            position: absolute;
            bottom: 0;
            font{
                font{
                    font-size:.9rem;
                }
            }
        }
        &:hover {
            margin-top: -8px;
            transition: 0.3s;
            border-top: 5px solid rgb(5, 22, 77); 
            border-radius: 5px;
            .actionBoxFooter {
                visibility: visible;
            }

        }
        &:nth-child(2) {
            .contentContainerColumn{
                left: -260px;
            }
        }
        &:nth-child(3){
            .contentContainerColumn {
                width: 100%;
                left: -533px;
                margin: 0;
            }
        }
        .mob {
            display: none;
        }
    }
    @media screen and (max-width: 900px) {  
        margin: initial;
        margin-top: initial;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        margin-top: 11px;
        .actionBox {
            height: auto;
            border-radius: 5px;
            transition: 0.3s;
            box-shadow: 0px 1px 4px #0000001A;
            flex: 1 0 30%;
            margin: 3% 5%;
            width: auto;
            min-height: fit-content;
            padding-bottom: 2%;
            .actionBoxTitle {
                text-indent: 7px;
                margin-bottom: 2%;
                padding: 0;
                height: 50px;
            }
            .actionBoxDescription {
                padding: 0 3%;
                font-size: 1rem;
                height: 50px;
            }
            &:nth-child(2) {
                .contentContainerColumn{
                    left: 0;
                }
            }
            &:nth-child(3){
                .contentContainerColumn {
                    width: 100%;
                    left: 0;
                    margin: 0;
                }
            }
            .contentContainer {
                .presentationText {
                    font {
                        padding-left: 1%;
                    }
                }
            }
            .mob {
                display: flex;
            }
        }
    }
}

.contentContainerColumn {
    margin-top: 3%;
    width: 60%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    .selectedTitle {
        display: flex;
        height: 30%;
        font-family: $font-lufthansa, $font-padrao;
        color: #FFAD00;
        font-size: 24px;
        font-weight: bold;
    }
    
    .selectedSubtitle {
        display: flex;
        font-family: $font-lufthansa, $font-padrao;
        color: rgb(5, 22, 77);
        font-size: 24px;
        font-weight: bold;
    }
    @media screen and (max-width: 900px) {
        height: auto;
        flex: 1 0 30%;
        margin: 3% 5%;
        margin-bottom: 4%;
        position: initial;
        top: initial;
        min-width: initial;
        width: fit-content;
        padding: 1%;
        .selectedTitle {
            margin-bottom: 2%;
            font-size: 1.2em;
            text-indent: 4px;
            margin-top: 17px;
        }
        .selectedSubtitle {
            font-size: 1rem;
            text-indent: 7px;
            padding: 0 3%;
            word-break: break-all;
        }
    }
}

@media screen and (max-width: 767px) {
    .desk {
        display: none;    
    }
}