.cover {
    width: 100%;
    height: 450px;
    background-image: url('../components/bg_3.png');
    object-fit: cover;
    background-repeat: no-repeat;
    .coverText {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 0% 20% 0% 20%;
        height: 100%;
        font-size: 30px;
        color: rgb(5, 22, 77);
        font-weight: bold;    
        font-family: $font-lufthansa, $font-padrao;
    }
}