.preContent {
    display: flex;
    align-items: center;
    margin: 0% 20% 0% 20%;
    height: 50px;
    background-color: rgb(5, 22, 77);
    color: white;
    padding: 0 10px 0 10px;
    font-family: $font-lufthansa, $font-padrao;
    font-weight: bold;
    @media screen and (max-width: 767px) {
        margin: 0;
        padding: 0;
        text-indent: .6rem;
        justify-content: center;
    }
}